body{
    background-color:#f2f2f2;
    color: black;
}

label{
    color:black;
}

table a{
    color:black;
}

footer {
    position:-ms-device-fixed;
    bottom:0;
    width:100%;
    height:5%;   /* Height of the footer */
}

footer span{
    margin-top: 50%;
}