body{
	background-color: rgb(255, 246, 0);
    background-image: url(../img/bg.png);
    color: black;

}

label{
	color:black;
}

table a{
    color:black;
}

@font-face {
    font-family: Oswald; src: url(font/Oswald-Light.ttf);
}
